<div>
	<form name="_form" class="form-horizontal" ng-submit="submit(_form)">
		<button type="button" class="close" ng-click="dismiss()" aria-hidden="true">&times;</button>
		<h3 class='text-center'>Widget Settings</h3>
		<div class="modal-body">
			<div class="row text-center">
					<div class= 'col-lg-6'>
							<label>Name: </label>
							<input name="name" type="text" ng-model="form.name" class="form-control"/>
					</div>
			</div>
			<div class="row text-center">
				<div class='col-md-6'>
					<label>Width: </label>
					<input class ="form-control" type="number" name="sizeX" ng-model="form.sizeX" >
				</div>
				<div class='col-md-6'>
					<label>Height: </label>
					<input type="number" class ="form-control" ng-model="form.sizeY" name="sizeY">
				</div>
			</div>
			<div class='row text-center'>
				<div class='col-md-6'>
					<label>Column: </label>
					<input type="number" class ="form-control" name="col" ng-model="form.col">
				</div>
				<div class='col-md-6'>
					<label>Row: </label>
					<input type="number" class ="form-control" name="row" ng-model="form.row">
				</div>
				<div ng-show="widget.type == 'lineChart' || widget.type == 'scatterChart'" class='col-md-6'>
					<label>Color: </label>
					<input type="color" class ="form-control" name="row" ng-model="form.color">
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<div class='pull-left'>
				<div class='row'>
					<div class='col-md-4'>
						<md-button type="submit" class="md-primary md-raised"><i class="glyphicon glyphicon-ok"></i>Save</md-button>
					</div>
					<div class='col-md-4'>
						<md-button  ng-click="dismiss()"class='md-warn md-raised md-hue-1'>
					<i class="glyphicon glyphicon-remove"></i> Cancel</a>
					</md-button>
				</div>
				<div class='col-md-4'>
					<md-button ng-click="remove()" class='md-raised md-warn'>
				<i class="glyphicon glyphicon-trash"></i> Delete</a>
				</md-button>
			</div>
		</div>
	</div>
</div>
</form>
</div>