<div>
   <form name="_form" class="form-horizontal" ng-submit="submit(_form)">
       <!-- <div class="modal-header"> -->
           <button type="button" class="close" ng-click="dismiss()" aria-hidden="true">&times;</button>
           <h3 class='text-center'>Widget Settings</h3>
       </div>

       <div class="modal-body">
           <div class="row">          
           		<div class="form-group" ng-class="{error: _form.name.$error && _form.submitted}">
					<div class='text-center'>
						<div class='col-md-4'>
                       		<label class="control-label" style="padding-top:13%"> Widget Name</label>
						</div>
						<div class='col-md-8'>
                           <input name="name" style="width:50%" type="text" ng-model="form.name" class="form-control" />
						</div>
					</div>
               </div>
           	</div>

           <div class="row">
				<div class='col-md-6'>
					<label>Width:</label>
					<input style="width:20%" type="number" name="sizeX" ng-model="form.sizeX" >	
				</div>	
				<div class='col-md-6'>
					<label>Height:</label>
					<input style="width:20%" type="number" ng-model="form.sizeY" name="sizeY">						
				</div>
            </div>

			

		<div class='row'>
			<div class='col-md-6'>
				<label>Column:</label>
				<input style="width:20%" type="number" name="col" ng-model="form.col">
			</div>
			<div class='col-md-6'>
				<label>Row:</label>
				<input style="width:20%" type="number" name="row" ng-model="form.row">
			</div>
		</div>

   </div>

       <div class="modal-footer">
		<!-- <div class='pull-left'> -->
		<div class='col-md-4'>
			<md-button ng-click="remove()" class='md-raised md-warn'>
		  		<i class="glyphicon glyphicon-trash"></i> Delete</a> 
		 	</md-button>
		</div>
		<div class='col-md-4'> 	
            <md-button  ng-click="dismiss()"class='md-warn md-raised md-hue-1'>
				<i class="glyphicon glyphicon-remove"></i> Cancel</a>
				</md-button>
		</div>
		<div class='col-md-4'>
            <md-button type="submit" class="md-primary md-raised"><i class="glyphicon glyphicon-ok"></i>Save</md-button>
		</div>

		<!-- </div> -->
       </div>
   </form>
</div>
