
.blank_row
{
    height: 10px !important; /* Overwrite any previous rules */
}

.btn-destroy {
  border-radius: 10px;
  margin-left: 20px;
}

.user-page-table tr {
  height: 32px;
}

input {
  &.changeInfo {
    width: 100%;
  }
}

#userPage {
  background-color: white;
  margin-top: 0;
}

#userPage row {
  background-color: white;
}

.userInfo {
  margin-top: 100px;
}
